<main class="login-container">
<form [formGroup]="loginForm" class="form"  style="width: 50vw; background-color: white;">
  <section class="logo-container text-center">
    <img src="../../../assets/logo.PNG" alt="logo" height="70">
  </section>
  <div class="form-wrapper" style="max-width: 70%; margin: 2rem auto;">
    <div class="field">
      <div class="col-12">
        <label for="username" class="font-bold">User Name:</label>
      </div>
       <div class="col-12">
        <input id="username" formControlName="username" type="username" class="w-full" aria-describedby="username-help" pInputText>
        <small hidden id="username-help">Enter your username!</small>
       </div>
    </div>
    <div class="field">
      <div class="col-12">
        <label for="password" class="font-bold">Password:</label>
      </div>
       <div class="col-12">
        <span class="p-input-icon-right w-full">
          <i class="pi pi-eye" style="font-size: 1.5rem;"></i>
          <input id="password" formControlName="password" type="password" class="w-full" aria-describedby="password-help" pInputText>
          <small hidden id="password-help">Enter your Password!</small>
        </span>
       </div>
    </div>
    <div class="login-actions flex flex-row justify-content-center align-items-center">
      <button (click)="login(loginForm.value)" pButton pRipple type="button" label="LOGIN" class="w-3 border-round-3xl"></button>
    </div>

  </div>
</form>
</main>




